u8/j2ee/DemoClient/src/META-INF/wsdl/localhost_8080/DemoSOAP/DemoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://comps368/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://comps368/" name="DemoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://comps368/" schemaLocation="http://localhost:8080/DemoSOAP/DemoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="CreateStudents">
<part name="parameters" element="tns:CreateStudents"/>
</message>
<message name="CreateStudentsResponse">
<part name="parameters" element="tns:CreateStudentsResponse"/>
</message>
<message name="orderTicket">
<part name="parameters" element="tns:orderTicket"/>
</message>
<message name="orderTicketResponse">
<part name="parameters" element="tns:orderTicketResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="DemoWS">
<operation name="CreateStudents">
<input wsam:Action="http://comps368/DemoWS/CreateStudentsRequest" message="tns:CreateStudents"/>
<output wsam:Action="http://comps368/DemoWS/CreateStudentsResponse" message="tns:CreateStudentsResponse"/>
</operation>
<operation name="orderTicket">
<input wsam:Action="http://comps368/DemoWS/orderTicketRequest" message="tns:orderTicket"/>
<output wsam:Action="http://comps368/DemoWS/orderTicketResponse" message="tns:orderTicketResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://comps368/DemoWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://comps368/DemoWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="DemoWSPortBinding" type="tns:DemoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CreateStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DemoWS">
<port name="DemoWSPort" binding="tns:DemoWSPortBinding">
<soap:address location="http://localhost:8080/DemoSOAP/DemoWS"/>
</port>
</service>
</definitions>